@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid #0493b9;
  border-radius: 8px;
  background-color: #ddeaeb;
  padding: 1rem;

  @include tablet {
    width: 30%;
  }

  &__logo {
    &-img {
      width: 5rem;
      border-radius: 10px;

      @include tablet {
        width: 10rem;
      }
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
    }
  }

  &__btn {
    width: 100%;

    @include tablet {
      width: 45%;
    }
  }
}
