/* --breakpoints-- */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
/* --Colors-- */
$bg-white: #fafafa;
$black: #06161f;
$light-blue: #079be6;
$blue: #095981;
$orange: #f65314;
$gray: #737373;
$yellow: #ffbb00;
$green: #7cbb00;
$white: #ffffff;
