/* --breakpoints-- */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
/* --Colors-- */
$bg-white: #fafafa;
$ligth-blue: #00a1f1;
$blue: #34268c;
$orange: #f65314;
$gray: #737373;
$yellow: #ffbb00;
$green: #7cbb00;
