@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.header {
  text-align: center;
  width: 100vw;

  &__title {
    height: 4rem;
    padding: 0.625rem;
  }
  
    &__subtitle{
        display: flex;
        justify-content: center;
        background-color: $ligth-blue;
        padding: 0.6rem;

        &--text{
            color: $white;
        }
    }
}
